body {
  font-family: 'Nanum Myeongjo', serif;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column; /* Align items vertically */
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#container {
  margin-top: 20px;
}

button {
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 800;
  background-color: black;
  border: none;
  color: white; /* Changed to black for visibility */
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  font-size: 60px;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 40px; 
  margin-bottom:50px;
}
