
body {
  font-family: 'Nanum Myeongjo', serif;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#container {
  margin-top: 10px;
}

#inner {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;  
}

#soundButton {
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 800;
  background-color: black;
  border: none;
  color: #e6e6e6;
  padding: 10px 0 20px 0;
  text-align: center;
  text-decoration: none;
  font-size: 50px;
  cursor: pointer;
  margin-top: 40px; 
  margin-bottom:10px;
}

#changeVader {
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 800;
  background-color: black;
  border: none;
  color: #e6e6e6;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  margin-top: 5px; 
}

#changeVader:hover, #soundButton:hover {
  text-decoration: underline;
}

#vaderImg {
  max-width: 800px;
  height: auto;
  opacity: 1;
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0; 
  }
  100% {
    opacity: 1;
  }
}
